* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* border: #101111 1px solid; */
}

body {
  height: 100%;
  display: felx;
  margin: 10px;
  background: #727E87;
  color: #000000;
}

table {
  width: 100%;
}

.alineRegister {
  animation: rotate 5s infinite alternate linear;
  display: flex;
  justify-content: center;
}

.cardRegister {
  justify-content: center;
  width: 60rem;
  padding: 40px 30px 32px;
  border-radius: 1.25rem;
  background: #DDDDDD;
  text-align: center;
  transition: 0.4s;
}

.cardRegister h2 {
  font-size: 36px;
  margin: 0 0 30px;
}

.cardRegister p {
  text-align: left;
  padding: 0;
  margin: 0;
  margin-left: 50px;
}

.cardRegister img {
  width: 120px;
  padding: 5px;
  margin-bottom: 10px;
}

.formRegister {
  width: 100%;
  /* margin: 0; */
  /* display: grid; */
}

.controlRegister {
  /* outline: none; */
  width: 80%;
  height: 40px;
  padding: 0 16px;
  border: 0;
  background: #b1b2b3;
  border-radius: 20px;
  margin: 8px 0;
  font-family: inherit;
  text-align: left;
  font-size: 15px;
  transition: 0.4s;
}

button.controlRegister {
  cursor: pointer;
  width: 30%;
  padding: 5px;
  background: #c0c0c0;
  color: #000000;
  border: 0;
  border-radius: 6px;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

button.controlRegister:hover {
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
}

button.controlRegister:disabled {
  opacity: 0.25;
}

button a {
  text-decoration: none;
}