.alineProfile {
    display: flex;
    align-items: flex-start;   
    justify-content: space-between;
}

.profile {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
    background-color: #e3e5d7;
    border-radius: 20px;
    margin: 2.5%;
    width: 40%;
    padding: 10px;
    text-align: center;
    font-size:larger;
}

.profile img{
    width: 120px;
    padding: 50px 0 0 0;
    margin-bottom: 10px;
}

.cardP {
    font-size: small;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
    background-color: #e3e5d7;
    border-radius: 20px;
    width: 65%; 
    display: flex;
    margin: 2.5%;
    padding: 2%;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.cardP>div {
    width: 48%;
    margin-bottom: 20px;
}

.cardP img{
    width: 40px;
    padding: 0 0 0 0;
    margin: 0;
    transition: all 0.4s;
}
.cardP img:hover{
    transform: scale(1.1);
}

.cardS{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
    background-color: #f6eddc;
    padding: 5% 2%;
    text-align: center;
    border-radius: 20px;
}
